//Genre selection section


.playAgain {
    text-shadow: (-1px -1px $accentPlush, -2px -2px $accentPlush);
}

.results {
    padding: 10px 0;
    background: url(http://api.thumbr.it/whitenoise-361x370.png?background=15424fff&noise=166f9e&density=100&opacity=61);
    width: 100%;
    padding: 25px 0;
}

.results h2 {
    font-size: 2rem;
    padding: 10px 0;

}

.poster img {
    display: block;
    width: 100%;
}

@media (min-width: 490px) {
    .results h2 {
        font-size: 3rem;
    }
}

@media (min-width: 750px) {
    .infoContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0;
    }

    .poster {
        width: 40%;
    }

    .movieText {
        width: 55%;
    }

    .results h2 {
        font-size: 5rem;
    }

    .movieText h2 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1000px) {
    .movieText h2 {
        font-size: 3.5rem;
    }

    .movieText p {
        font-size: 1.5rem;
    }
}
