//Genre selection section


.playAgain {
    text-shadow: (-1px -1px $accentPlush, -2px -2px $accentPlush);
}

.results {
    padding: 10px 0;
    background: url(http://api.thumbr.it/whitenoise-361x370.png?background=15424fff&noise=166f9e&density=100&opacity=61);
    width: 100%;
    padding: 25px 0;
}

.results h2 {
    font-size: 2rem;
    padding-bottom: 10px;
}

.poster img {
    display: block;
    width: 100%;
}
