//------------------------------------------------------------------------
//---------Setup: normalize clearfix borderbox visuallyHidden ------------
//------------------------------------------------------------------------

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

//----------------------------------
//------Common wrapper styles-------
//----------------------------------

html {
    font-size: 125%;
}

.outerWrapper {
    max-width: 1440px;
    margin: 0 auto;
    width: 90%;
}

.innerWrapper {
    width: 80%;
    margin: 0 auto;
}

header,
main,
.results {
    background: $background;
}

header, 
section.firstSection, 
section.secondSection
 {
    height: 100vh;
    padding: 10px 0;
}

section.firstSection {
    margin-top: 30px;
}

section.thirdSection {
    padding: 10px 0;
}

.firstSection .innerWrapper,
.secondSection .innerWrapper,
.thirdSection .innerWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.added {
    padding-bottom: 150px;
}

//----------------------------------
//------common typography styles----
//----------------------------------

h1, h2 {
    font-family: $headerText;
    color: $text;
    margin: 0;
    text-align: center;
} 

h2 {
    font-size: 2.75rem;
    letter-spacing: 7.5px;
    text-shadow: (-1px -1px $accentPlush, -2px -2px $accentPlush, -3px -3px $accentPlush);   
}

p {
    font-family: $pageText;
    color: $text;
    margin: 0;
    font-size: 1.3rem;
}

.firstSection p,
.secondSection p,
.thirdSection p,
.results p  {
    text-align: center;
    padding: 20px 0;
}

//--------------------------
//-----common button styles--
//---------------------------

.startContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdSection .startContainer {
    height: auto;
}

button {
    border-radius: 15px;
    padding: 10px;
    background: $accentPlush;
    color: $text;
    font-family: $pageText;
    text-transform: uppercase;
    font-size: 2rem;
    transition: 0.4s;
    border: none;
    box-shadow: 5px 5px  $text; 
    font-family: $headerText;
    letter-spacing: 10px;
    outline: none;
}
 
button:focus {
    background: $accentCool;
}

.firstSection button,
.secondSection button,
.thirdSection button {
    margin-top: 10px;
}

section.thirdSection {
    padding-bottom: 25px;
}

button:hover {
    background-color: lighten($accentPlush, 15%);
}

button:active {
    transform: translate(4px, 4px);
    box-shadow: 1px 1px  $text; 
}

main {
    padding-bottom: 30px;
}

//--------------------------
//-----common drop down styles--
//---------------------------

form {
    width: 100%;
}

select {
    font-size: .9rem;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    word-wrap: normal;
}

//--------------------------
//-----dynamicall add sections--
//---------------------------

//hides sections until the user is ready for them
.notLoaded {
    display: none;
}

//--------------------------
//-----SWAL--
//---------------------------
.swal {
    font-family: $pageText;
    background: $accentCool;
    color: $background;
}

.swal-button {
    font-family: $pageText;
    background: $accentPlush;
}

@media (min-width: 390px) {
    section.thirdSection
    {
        height: 100vh;
        padding: 10px 0;
    }
}

@media (min-width: 490px) {
    .firstSection .innerWrapper,
    .secondSection .innerWrapper,
    .thirdSection .innerWrapper {
        justify-content: center;
    }

    .firstSection h2,
    .secondSection h2,
    .thirdSection h2 {
        margin-top: 5vh;
    }

    .startContainer {
        height: auto;
    }
}

@media  (min-width: 600px) {
    .firstSection h2,
    .secondSection h2,
    .thirdSection h2 {
        font-size: 3.5rem;
    }

    .firstSection .innerWrapper,
    .secondSection .innerWrapper,
    .thirdSection .innerWrapper {
        justify-content: space-around;
    }

    select {
        text-align: center;
    }
}

@media (min-width: 750px) {
    .firstSection h2,
    .secondSection h2,
    .thirdSection h2 {
        font-size: 5rem;
    }

    main {
        background:url(../assets/background.png);
    }
 
    .firstSection.outerWrapper,
    .secondSection.outerWrapper,
    .thirdSection.outerWrapper {
        background: $background;
    }

    .thirdSection.outerWrapper {
        padding-bottom: 80px;
    }

}

@media (min-width: 800px) {
    p {
        font-size: 1.7rem;
    }

    .movieText p {
        font-size: 1.3rem;
    }
}

@media (min-width: 1000px) {
    .firstSection h2,
    .secondSection h2,
    .thirdSection h2 {
        font-size: 6rem;
    }

    select {
        font-size: 1.5rem;
    }

    button {
        font-size: 2.5rem;
    }
}

@media (min-width: 3000px) {
    .firstSection h2,
    .secondSection h2,
    .thirdSection h2 {
        font-size: 9rem;
    }
}