//---------------------------------------
//--------Variables and mixins-----------
//---------------------------------------

//------------------
//----colours--------
//-------------------

$background: #404040;
$text: #e9ceac;
$accentPlush: #6c1c17;
$accentCool: #28587B;
$accentFun: #9FB798;

//--------------------
//-----typography-----
//--------------------

$headerText: 'Six Caps', sans-serif;
$pageText: 'Oswald', sans-serif;