//---------------------------------------
//--------Variables-----------
//---------------------------------------

//------------------
//----colours--------
//-------------------

$background: #404040;
$text: #e9ceac;
$accentPlush: #6c1c17;
$accentCool: #28587B;

//--------------------
//-----typography-----
//--------------------

$headerText: 'Six Caps', sans-serif;
$pageText: 'Oswald', sans-serif;