article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.outerWrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
}

.innerWrapper {
  width: 80%;
  margin: 0 auto;
}

header,
main,
.results {
  background: #404040;
}

header,
section.firstSection,
section.secondSection {
  height: 100vh;
  padding: 10px 0;
}

section.firstSection {
  margin-top: 30px;
}

section.thirdSection {
  padding: 10px 0;
}

.firstSection .innerWrapper,
.secondSection .innerWrapper,
.thirdSection .innerWrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.added {
  padding-bottom: 150px;
}

h1, h2 {
  font-family: "Six Caps", sans-serif;
  color: #e9ceac;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2.75rem;
  letter-spacing: 7.5px;
  text-shadow: -1px -1px #6c1c17, -2px -2px #6c1c17, -3px -3px #6c1c17;
}

p {
  font-family: "Oswald", sans-serif;
  color: #e9ceac;
  margin: 0;
  font-size: 1.3rem;
}

.firstSection p,
.secondSection p,
.thirdSection p,
.results p {
  text-align: center;
  padding: 20px 0;
}

.startContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thirdSection .startContainer {
  height: auto;
}

button {
  border-radius: 15px;
  padding: 10px;
  background: #6c1c17;
  color: #e9ceac;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: none;
  -webkit-box-shadow: 5px 5px #e9ceac;
          box-shadow: 5px 5px #e9ceac;
  font-family: "Six Caps", sans-serif;
  letter-spacing: 10px;
  outline: none;
}

button:focus {
  background: #28587B;
}

.firstSection button,
.secondSection button,
.thirdSection button {
  margin-top: 10px;
}

section.thirdSection {
  padding-bottom: 25px;
}

button:hover {
  background-color: #ab2c24;
}

button:active {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
  -webkit-box-shadow: 1px 1px #e9ceac;
          box-shadow: 1px 1px #e9ceac;
}

main {
  padding-bottom: 30px;
}

form {
  width: 100%;
}

select {
  font-size: .9rem;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  word-wrap: normal;
}

.notLoaded {
  display: none;
}

.swal {
  font-family: "Oswald", sans-serif;
  background: #28587B;
  color: #404040;
}

.swal-button {
  font-family: "Oswald", sans-serif;
  background: #6c1c17;
}

@media (min-width: 390px) {
  section.thirdSection {
    height: 100vh;
    padding: 10px 0;
  }
}

@media (min-width: 490px) {
  .firstSection .innerWrapper,
  .secondSection .innerWrapper,
  .thirdSection .innerWrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .firstSection h2,
  .secondSection h2,
  .thirdSection h2 {
    margin-top: 5vh;
  }
  .startContainer {
    height: auto;
  }
}

@media (min-width: 600px) {
  .firstSection h2,
  .secondSection h2,
  .thirdSection h2 {
    font-size: 3.5rem;
  }
  .firstSection .innerWrapper,
  .secondSection .innerWrapper,
  .thirdSection .innerWrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  select {
    text-align: center;
  }
}

@media (min-width: 750px) {
  .firstSection h2,
  .secondSection h2,
  .thirdSection h2 {
    font-size: 5rem;
  }
  main {
    background: url(../assets/background.png);
  }
  .firstSection.outerWrapper,
  .secondSection.outerWrapper,
  .thirdSection.outerWrapper {
    background: #404040;
  }
  .thirdSection.outerWrapper {
    padding-bottom: 80px;
  }
}

@media (min-width: 800px) {
  p {
    font-size: 1.7rem;
  }
  .movieText p {
    font-size: 1.3rem;
  }
}

@media (min-width: 1000px) {
  .firstSection h2,
  .secondSection h2,
  .thirdSection h2 {
    font-size: 6rem;
  }
  select {
    font-size: 1.5rem;
  }
  button {
    font-size: 2.5rem;
  }
}

@media (min-width: 3000px) {
  .firstSection h2,
  .secondSection h2,
  .thirdSection h2 {
    font-size: 9rem;
  }
}

header {
  background: url(../assets/background.png);
  text-align: center;
  height: 90vh;
  border: 5px solid #404040;
  margin: 30px auto 0;
  width: 90%;
}

header::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-color: #e9ceac;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.intro {
  font-size: 1.8rem;
  letter-spacing: 10px;
  line-height: 1;
  margin: 0;
  text-shadow: 2px 1px #550a00, 4px 2px #5a0f05, 6px 4px #64140f, 8px 5px #691914, 10px 6px #6e1e19, 12px 7px #731e1e, 14px 8px #781e23, 16px 9px black, 18px 10px black, 20px 11px black, 22px 12px black, 24px 13px black, 28px 14px rgba(0, 0, 0, 0.9), 30px 15px rgba(0, 0, 0, 0.7), 32px 16px rgba(0, 0, 0, 0.5), 34px 17px rgba(0, 0, 0, 0.3), 36px 18px rgba(0, 0, 0, 0.1), 40px 20px rgba(0, 0, 0, 0.1);
}

header p {
  margin-top: 40px;
}

header button {
  font-size: 1rem;
  margin-top: 50px;
}

@media (min-width: 340px) {
  .start {
    margin: 5vh 0;
  }
  header p {
    margin-top: 40px;
  }
}

@media (min-width: 355px) {
  header button {
    font-size: 1.5rem;
    margin-top: 30px;
  }
  .start {
    margin: 15vh 0;
  }
}

@media (min-width: 490px) {
  h1.intro {
    font-size: 3rem;
  }
  header p {
    margin-top: 15vh;
  }
}

@media (min-width: 600px) {
  h1.intro {
    font-size: 4.5rem;
  }
  header button {
    font-size: 1.7rem;
  }
  .start {
    margin: 2.8vh 0;
  }
}

@media (min-width: 800px) {
  h1.intro {
    margin-top: 80px;
  }
  .start {
    margin: 2.5vh 0;
  }
  header p {
    margin-top: 12vh;
  }
}

@media (min-width: 960px) {
  .start {
    margin: 2vh;
  }
}

@media (min-width: 1000px) {
  h1.intro {
    font-size: 7rem;
  }
}

@media (min-width: 3000px) {
  h1.intro {
    font-size: 10rem;
  }
}

.playAgain {
  text-shadow: -1px -1px #6c1c17, -2px -2px #6c1c17;
}

.results {
  padding: 10px 0;
  background: url(../assets/background.png);
  width: 100%;
  padding: 25px 0;
}

.results h2 {
  font-size: 2rem;
  padding: 10px 0;
}

.poster img {
  display: block;
  width: 100%;
}

@media (min-width: 490px) {
  .results h2 {
    font-size: 3rem;
  }
}

@media (min-width: 750px) {
  .infoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 40px 0;
  }
  .poster {
    width: 40%;
  }
  .movieText {
    width: 55%;
  }
  .results h2 {
    font-size: 5rem;
  }
  .movieText h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1000px) {
  .movieText h2 {
    font-size: 3.5rem;
  }
  .movieText p {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */